html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 95vw;
  margin: 0 auto;
}

nav[aria-label="breadcrumb"] ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav[aria-label="breadcrumb"] li {
  margin: 0;
}

nav[aria-label="breadcrumb"] li+li::before {
  content: ">";
  margin-right: 0.5em;
}